#cssTest{
	color:red;
}

.hori-list > widget-cell{
}

.hori-list, .hori-list > div > div{
    display: inline-block
}

.star {
 	text-align: center;
}
.star > .widget-icon:before{
    width: 4px;
    height: 4px;
    color: yellow;
}