<script type="text/ng-template" id="loading.html">
    <widget-row>
        <widget-cell>
            <div class="pDetails">
                Loading..
            </div>
        </widget-cell>
    </widget-row>
</script>

<script type="text/ng-template" id="main.html">

    <!-- YouTube Demo -->
    <div class="collapseMe">
        <widget-row>
            <widget-row>
                <widget-cell>
                    <h2>Top Songs</h2>
                </widget-cell>
            </widget-row>
            <div ng-if="!youtubeData.value">
                <h1>TESTING</h1>
            </div>
            <div ng-if="youtubeData.value">
                <widget-row>
                    <widget-cell>
                        <widget-row>
                            <widget-list list="item in youtubeData.value" show-items="3" class="hori-list">
                                <widget-cell>
                                    <widget-row>{{item.title}}</widget-row>
                                    <widget-row>
                                        <iframe width="100%" height="100%" src="{{idToYoutubeLink(item.linkID);}}" name="2/{{item.linkID}}" frameborder="0"
                                        allowfullscreen></iframe>
                                    </widget-row>
                                    <widget-row class="star">
                                    	<widget-icon name="star" ng-click="star(item.linkID);$(this).next().value(2)"></widget-icon>
                                        {{item.rating}}
                                    </widget-row>
                                </widget-cell>
                            </widget-list>
                        </widget-row>
                    </widget-cell>
                </widget-row>
            </div>

        </widget-row>
    </div>

    <widget-row>
        <widget-cell>
            <p>Suggest Music</p>
            <form ng-submit="insertSuggestion()">
                Song Name:
                <br/>
                <input type="text" name="title" ng-model="suggestionForm.title" />
                <br/> Artist:
                <br/>
                <input type="text" name="artist" ng-model="suggestionForm.artist" />
                <br/> Link ID:
                <br/>
                <input type="text" name="linkID" ng-model="suggestionForm.linkID" />
                <br/>
                <p>Genre </p>
                <input type="radio" name="genre" ng-model="suggestionForm.genre" value="classical" checked/>Classical
                <br/>
                <input type="radio" name="genre" ng-model="suggestionForm.genre" value="Rock" checked/>Rock
                <br/>
                <input type="radio" name="genre" ng-model="suggestionForm.genre" value="electronic" checked/>Electronic
                <br/>
                <input type="radio" name="genre" ng-model="suggestionForm.genre" value="pop" checked/>Pop
                <br/>
                <input type="radio" name="genre" ng-model="suggestionForm.genre" value="foreign" checked/>Foreign
                <br/>
                <input type="radio" name="genre" ng-model="suggestionForm.genre" value="metal" checked/>Metal
                <br/>
                <input type="radio" name="genre" ng-model="suggestionForm.genre" value="other" checked/>Other
                <br/>
                <input type="submit" value="Submit" />
            </form>


        </widget-cell>
    </widget-row>